/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: var(--background); /* Background changes based on the theme */
  color: var(--foreground); /* Foreground color changes based on the theme */
}
.btn-gradient-blue {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: 0px 4px 15px rgba(0, 114, 255, 0.4);
  transition: transform 0.3s ease;
}

.btn-gradient-blue:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 114, 255, 0.6);
}
