/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-light: #ffffff; /* Light mode background */
  --background-dark: #111827; /* Equivalent to bg-gray-900 */
  --foreground-light: #111827;
  --foreground-dark: #ffffff;
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

[data-theme="light"] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

body {
  background-color: var(--background); /* Background changes based on the theme */
  color: var(--foreground); /* Foreground color changes based on the theme */
}
.btn-gradient-blue {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: 0px 4px 15px rgba(0, 114, 255, 0.4);
  transition: transform 0.3s ease;
}

.btn-gradient-blue:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 114, 255, 0.6);
}
